@use "../abstracts/mixins" as *;

.btn {
  font-family: Graphik, sans-serif;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.btn-s {
  @include fontSemibold(16, 45);
  width: 120px;
  min-height: 45px;
}

.btn-m {
  @include fontSemibold(16, 60);
  width: 160px;
  min-height: 60px;
}

.btn-l {
  @include fontSemibold(16, 60);
  width: 193px;
  min-height: 60px;
}

.btn-outline {
  border: var(--primary-btn-outline-stroke);
  color: var(--primary-text-btn-color);
  background-color: var(--primary-btn-color-white);
  text-decoration: none;
  text-align: center;
}

.btn-outline-hover:hover {
  background-color: var(--hover-btn-outline-color);
}

.btn-contained {
  background-color: var(--primary-btn-color);
  color: var(--primary-btn-color-white);
  text-decoration: none;
  text-align: center;
}

.btn-contained-hover:hover {
  background-color: var(--hover-btn-color);
}

.text-btn {
  @include fontSemibold(20, 30);
  color: var(--primary-text-btn-color);
  background-color: transparent;
  text-decoration: none;
}

.text-btn-underlined {
  @include fontNormal(20, 30);
  color: var(--primary-text-btn-color);
  background-color: transparent;
  text-decoration: underline;

  &:hover {
    color: var(--hover-text-color);
  }
}

.text-btn-hover {
  position: relative;
  overflow: hidden;

  &:hover {
    color: var(--hover-text-color);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  &:hover::after {
    background-color: var(--hover-text-color);
    transform: translateX(0);
  }
}
