@use "../abstracts/mixins" as *;


.btn {
  font-family: Graphik, sans-serif;
  border: none;
  cursor: pointer;
}

.btn-s {
  width: 120px;
  height: 45px;
}

.btn-l {
  width: 160px;
  height: 60px;
}

.btn-outline {
  @include font(16, 20, 600);
  outline: var(--primary-btn-outline-stroke);
  color: var(--primary-text-color);
  background-color: var(--primary-btn-color-white);
}

.btn-contained {
  @include font(16, 20, 600);
  background-color: var(--primary-btn-color);
  color: var(--primary-btn-color-white);
}

.text-btn {
  @include font(20, 30, 600);
  color: var(--primary-text-btn-color) ;
  background-color: transparent;
}


.text-btn-underlined {
   @include font(20, 30);
  color: var(--primary-text-btn-color) ;
  background-color: transparent;
  text-decoration: underline;
}