@use "../abstracts/mixins" as *;

.history {
  background-color: #c9e8f2;

  &__inner {
    padding-top: 110px;
    padding-bottom: 105px;
    @include flex(center, flex-start);
  }
}

.history-content {
  width: 922px;

  &__paragraph {
    @include fontNormal(30, 40);
    max-width: 896px;
    margin-bottom: 33px;
    color: var(--primary-text-color);
  }

  &__name {
    display: inline-block;
    @include fontNormal(15, 25);
    color: var(--primary-text-color);
    margin-bottom: 10px;
  }

  &__logo {
    max-width: 116px;
    height: 25px;
    img {
      width: 100%;
    }
  }
}

.history-photo {
  max-width: 310px;
  img {
    width: 100%;
  }
}

@include tablet {
  .history-content {
    &__paragraph {
      max-width: 700px;
    }
  }
}

// reviews

.reviews-section {
  margin-bottom: 150px;
}

.reviews {
  width: 100%;
  background-color: #dabc98;
}

.reviews-inner {
  padding-top: 80px;
  padding-bottom: 80px;
  @include flex(flex-start, center);

  &__title {
    @include flex(center, center);
    margin-right: auto;
    max-width: 704px;
  }

  &__image {
    max-width: 176px;
    margin-right: 50px;
    img {
      width: 100%;
    }
  }

  &__heading {
    @include fontSemibold(35, 50);
    color: var(--primary-text-color);
    max-width: 461px;
  }

  &__logos {
    @include flex(space-around, center);
    border-left: 1px solid #000;
    width: 481px;
  }
}

@include tablet {
  .reviews-inner {
    &__title {
      margin-right: 24px;
    }

    &__heading {
      width: 350px;
    }

    &__logos {
      flex-direction: column;
      width: 350px;
    }

    &__logo:first-child {
      margin-bottom: 32px;
    }
  }
}
