@use "../abstracts/mixins" as *;

.benefit-section {
  width: 100%;
  background-color: var(--secondary-color);
  margin-bottom: 150px;
}

.benefit-inner {
  padding: 120px 0;

  &-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &-heading {
    text-align: center;
    @include font(50, 60, 600);
    margin-bottom: 58px;
  }
}

.benefit-item {
  width: 330px;
  min-height: 294px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 57px;
  }

  &-image {
    width: 160px;
    min-height: 120px;
    margin-bottom: 26px;

    &-img {
      width: 100%;
    }
  }

  &-heading {
    @include font(25, 35, 600);
    color: var(--primary-heading-color);
    margin-bottom: 20px;
  }

  &-paragraph {
    text-align: center;
    @include font(18, 25);
  }
}

.benefit-item .paragraph-small {
  width: 281px;
}
