@use "../abstracts/mixins" as *;

.companies-section {
  margin-bottom: 90px;
}

.companies {
  width: 100%;
  background-color: var(--primary-color);
}

.companies-inner {
  padding: 100px 0;
  @include flex(center, center, column);

  &__heading {
    @include fontSemibold(50, 60);
    text-align: center;
    width: 720px;
    margin-bottom: 70px;
  }

  &__logos {
    width: 100%;
    @include flex(space-between, center);
  }
}
