@use "../abstracts/mixins" as *;

.companies-section {
  margin-bottom: 90px;
}

.companies {
  background-color: var(--primary-color);
}

.companies-inner {
  padding-top: 100px;
  padding-bottom: 100px;
  @include flex(center, center, column);

  &__heading {
    @include fontSemibold(50, 60);
    text-align: center;
    max-width: 720px;
    margin-bottom: 70px;
  }

  &__logos {
    width: 100%;
    @include flex(space-between, center);
  }
}

@include tablet {
  .companies-inner {
    &__logos {
      justify-content: center;
      flex-wrap: wrap;
    }

    &__logo {
      margin: 0 32px 24px 0;
    }
  }
}
