@use "../abstracts/mixins" as *;

.companies {
  width: 100%;
  background-color: var(--primary-color);

  &__section {margin-bottom: 90px;}
}

.companies-inner {
  padding: 100px 0;
  @include flex(center, center, column);

  &__heading {
    @include font(50, 60, 600);
    text-align: center;
    width: 720px;
    margin-bottom: 70px;
  }

  &__logos {
    width: 100%;
    @include flex(space-between, center);
  }
}
