@use "../abstracts/mixins" as *;

.footer {
  width: 100%;
  background-color: var(--footer-bg-color);
}

.footer-inner {
  padding: 98px 0;
  @include flex(space-between, flex-start);
  border-bottom: 1px solid #000;
}

.footer-column {
  max-width: 300px;

  &-heading {
    @include font(40, 50, 600);
    color: var(--primary-text-color);
    margin-bottom: 28px;
  }

  &-picture {
    width: 300px;
    margin-bottom: 31px;
    img {
      width: 100%;
    }
  }

  &-logo {
    width: 80px;
    margin-bottom: 11px;
    img {
      width: 100%;
    }
  }

  &-paragraph {
    display: inline-block;
    @include font(20, 30);
    color: var(--primary-text-color);
    margin-bottom: 15px;
  }
}

.footer-nav {
  @include flex(space-between, flex-start);

  &-list {
    width: 187px;
  }

  &-title {
    @include font(20, 25, 600);
    margin-bottom: 21px;
  }

  &-item {
    margin-bottom: 15px;
  }

  &-link {
    @include font(15, 15);
    text-decoration: none;
    color: var(--primary-text-color);
  }
}

.footer-holder {
  padding: 48px 0;
  @include flex(space-between, center);

  &-info {
    width: 411px;
    @include flex(space-between, center);
  }

  &-logo {
    width: 90px;
    margin-right: 14px;
    img {
      width: 100%;
    }
  }

  &-paragraph {
    @include font(12, 15);
    color: var(--primary-text-color);
    width: 311px;
  }
}

.footer-copyright-content {
  display: block;
  @include font(12, 15);
  color: var(--primary-text-color);
}
