@use "../abstracts/mixins" as *;

.footer {
  width: 100%;
  background-color: var(--footer-bg-color);
}

.footer-inner {
  padding: 98px 0;
  @include flex(space-between, flex-start);
  border-bottom: 1px solid #000;
}

.footer-column {
  width: 300px;

  &__heading {
    @include fontSemibold(40, 50);
    color: var(--primary-text-color);
    margin-bottom: 28px;
  }

  &__picture {
    width: 300px;
    margin-bottom: 31px;
    img {
      width: 100%;
    }
  }

  &__logo {
    width: 80px;
    margin-bottom: 11px;
    img {
      width: 100%;
    }
  }

  &__paragraph {
    display: inline-block;
    @include fontNormal(20, 30);
    color: var(--primary-text-color);
    margin-bottom: 15px;
  }
}

.footer-nav {
  @include flex(space-between, flex-start);
  width: 850px;

  &__list {
    max-width: 187px;
  }

  &__title {
    @include fontSemibold(20, 25);
    margin-bottom: 21px;
  }

  &__item {
    margin-bottom: 15px;
  }

  &__link {
    @include fontNormal(15, 15);
    text-decoration: none;
    color: var(--primary-text-color);

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-holder {
  padding: 48px 0;
  @include flex(space-between, center);

  &__info {
    width: 411px;
    @include flex(space-between, center);
  }

  &__logo {
    width: 90px;
    margin-right: 14px;
    img {
      width: 100%;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__paragraph {
    @include fontNormal(12, 15);
    color: var(--primary-text-color);
    width: 311px;
  }
}

.footer-copyright {
  &__content {
    display: block;
    @include fontNormal(12, 15);
    color: var(--primary-text-color);
  }
}
