@use "../abstracts/mixins" as *;

.header {
  width: 100%;
  min-height: 95px;
  border-bottom: 1px solid #cccccc;
  @include flex(center);

  &-inner {
    @include flex(space-between);
    width: 100%;
  }
}


.header-nav {
  @include flex(space-between);

  &-logo {
    display: block;
    width: 100%;
    max-width: 130px;
    height: 28px;
    margin-right: 52px;

    &:hover {
      opacity: 0.8;
    }
  }
  &-list {
    @include flex(center);
  }

  &-item {
    &:not(:last-child) {
      margin-right: 52px;
    }
  }

  &-link {
    @include font(15, 20);
    color: var(--header-link-color);
    text-decoration: none;
  }
}

.burger-icon {
  display: none;
}

// media

// @include tablet {
//   .container {
//     max-width: 1250px;
//   }

//   .nav {
//     display: none;
//   }

//   .header-buttons {
//     .btn-outline,
//     .btn-contained {
//       display: none;
//     }
//   }

//   .burger-icon {
//     border: none;
//     background: none;
//     width: 40px;
//     height: 28px;
//     @include flex(space-between, column);
    

//     &::before,
//     &::after {
//       content: "";
//       display: block;
//       width: 40px;
//       height: 4px;
//       background: var(--primary-burger-btn-color);
//     }

//     &-inner {
//       display: block;
//       width: 40px;
//       height: 4px;
//       background: var(--primary-burger-btn-color);
//     }
//   }
// }
