@use "../abstracts/mixins" as *;

.header {
  @include flex(center, center);
  width: 100%;
  min-height: 95px;
  border-bottom: 1px solid #cccccc;

  &__inner {
    @include flex(space-between, center);
    width: 100%;
  }
}

.header-nav {
  &__wrapper {
    @include flex(space-between, center);
  }

  &__logo {
    width: 100%;
    width: 130px;
    margin-right: 52px;

    &:hover {
      opacity: 0.8;
    }
  }

  &__list {
    @include flex(center, center);
  }

  &__item {
    &:not(:last-child) {
      margin-right: 52px;
    }
  }

  &__link {
    @include font(15, 20);
    color: var(--header-link-color);
    text-decoration: none;
  }
}

.buttons .btn-outline {
  margin-right: 8px;
}
