@use "../abstracts/mixins" as *;

.header {
  @include flex(center, center);
  width: 100%;
  min-height: 95px;
  border-bottom: 1px solid #cccccc;

  &__inner {
    @include flex(space-between, center);
    width: 100%;
  }
}

.header-nav {
  &__wrapper {
    @include flex(space-between, center);
  }

  &__logo {
    width: 100%;
    width: 130px;
    margin-right: 52px;

    &:hover {
      opacity: 0.8;
    }
  }

  &__list {
    @include flex(center, center);
  }

  &__item {
    &:not(:last-child) {
      margin-right: 52px;
    }
  }

  &__link {
    @include fontNormal(15, 20);
    color: var(--header-link-color);
    text-decoration: none;
    padding: 24px 0;

    &:hover {
      color: var(--hover-text-color);
    }
  }

  &__link-drop {
    padding-right: 18px;
    cursor: pointer;
    display: block;
    background: url("../../img/icons/icon-arrow.png") right no-repeat;
    background-size: 20%;
    &:hover {
      color: var(--hover-text-color);
    }
  }
}

.buttons .btn-outline {
  margin-right: 8px;
}

.header-dropdown-menu:hover .dropdown-menu {
  display: block;
}

.header-dropdown-menu {
  position: relative;
}

.header-dropdown-menu:hover .header-nav__link-drop {
  color: var(--hover-text-color);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 250px;
  background: #fff;
  box-shadow: 0 0 15px rgba(112, 111, 110, 0.2);
  padding: 25px 25px 10px 25px;
  display: none;
}

.dropdowm-menu-item {
  display: block;
  margin-bottom: 20px;
}

.dropdowm-menu-link {
  @include fontNormal(15, 20);
  text-decoration: none;
  color: var(--primary-text-color);

  &:hover {
    color: var(--hover-text-color);
  }
}
