@use "../abstracts/mixins" as *;

.integration-inner {
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-heading {
    @include font(65, 75, 600);
    color: var(--primary-heading-color);
    max-width: 791px;
    text-align: center;
  }

  &-paragraph {
    display: inline-block;
    @include font(25, 30);
    color: var(--primary-text-color);
    max-width: 539px;
    text-align: center;
    margin-bottom: 25px;
  }

  &-image {
    max-width: 1023px;
    margin-bottom: 32px;
    img {
      width: 100%;
    }
  }
}
