@use "../abstracts/mixins" as *;

.integration-inner {
  margin-bottom: 150px;
  @include flex(space-between, center, column);

  &__heading {
    @include fontSemibold(65, 75);
    color: var(--primary-heading-color);
    max-width: 791px;
    text-align: center;
  }

  &__paragraph {
    display: inline-block;
    @include fontNormal(25, 30);
    color: var(--primary-text-color);
    max-width: 539px;
    text-align: center;
    margin-bottom: 25px;
  }

  &__image {
    max-width: 1023px;
    margin-bottom: 32px;
    img {
      width: 100%;
    }
  }
}
