@use "../abstracts/mixins" as *;

.integration-inner {
  margin-bottom: 150px;
  @include flex(center, column);

  &-heading {
    @include font(65, 75, 600);
    color: var(--primary-text-color);
    max-width: 791px;
    text-align: center;
  }

  &-paragraph {
    display: inline-block;
    @include font(25, 30);
    color: var(--primary-text-color);
    max-width: 539px;
    text-align: center;
    margin-bottom: 25px;
  }

  &-image {
    width: 1023px;
    height: 445px;
    margin-bottom: 32px;
    img {width: 100%;}
  }

  &-btn {
    width: 193px;
    height: 60px;
  }
}
