@use "../abstracts/mixins" as *;

.proposition {
  width: 100%;
  background-color: var(--primary-color);
}

.proposition-inner {
  padding: 119px 0 161px 0;
  @include flex(center, center, column);

  &__heading {
    @include fontSemibold(65, 75);
    color: var(--primary-heading-color);
    max-width: 784px;
    text-align: center;
    margin-bottom: 29px;
  }

  &__paragraph {
    max-width: 438px;
    @include fontNormal(20, 30);
    margin-bottom: 54px;
  }

  & .btn-contained {
    background-color: var(--primary-btn-color-black);
    &:hover {
      background-color: #000;
    }
  }
}


