@use "../abstracts/mixins" as *;

.products-section {
  margin-bottom: 150px;
}

.product {
  @include flex(space-between);

  &:not(:last-child) {
    margin-bottom: 255px;
  }
}

.product-content {
  max-width: 500px;

  &-heading {
    @include font(50, 60, 600);
    color: var(--primary-text-color);
    margin-bottom: 30px;
  }

  &-paragraph {
    @include font(20, 30);
    color: var(--primary-text-color);
    margin-bottom: 30px;
  }

  &-button {
    @include font(20, 30, 600);
  }
}

.paragraph-link {
  color: var(--primary-paragraph-link);
}

.product-picture {
  max-width: 632px;
  min-height: 632px;

  img {
    width: 100%;
  }
}
