@use "../abstracts/mixins" as *;

.products {
  margin-bottom: 150px;
}

.product-item {
  @include flex(space-between, center);

  &:not(:last-child) {
    margin-bottom: 255px;
  }
}

.product-content {
  width: 500px;

  &__heading {
    @include font(50, 60, 600);
    color: var(--primary-heading-color);
    margin-bottom: 30px;
  }

  &__paragraph {
    @include font(20, 30);
    color: var(--primary-text-color);
    margin-bottom: 30px;
  }

  &__link {
    color: var(--primary-paragraph-link);
  }
}

.product-picture {
  max-width: 632px;

  img {
    width: 100%;
  }
}
