@use "../abstracts/mixins" as *;

.team-section {
  margin-bottom: 150px;
}

.team-inner {
  &__heading {
    @include fontSemibold(50, 60);
    margin-bottom: 92px;
  }
}

.team-items {
  @include flex(space-between, flex-start);
}

.team-item {
  width: 409px;

  &__image {
    width: 179px;
    height: 201px;
    margin-bottom: 48px;
  }

  &__heading {
    @include fontSemibold(30, 40);
    color: var(--primary-heading-color);
    margin-bottom: 34px;
  }

  &__paragraph {
    max-width: 409px;
    @include fontNormal(20, 30);
    color: var(--primary-text-color);
    margin-bottom: 25px;
  }

  &__link {
    color: var(--primary-text-color);

    &:hover {
      color: var(--hover-text-color);
    }
  }
}
