@mixin font($fs, $lh, $fw: normal) {
  font-size: $fs + px;
  line-height: calc($lh/$fs);
  font-weight: $fw;
}









@mixin flex($justify-content, $flex-direction:row){
    display: flex;
    align-items: center;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
}


// media

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}