@mixin font($fs, $lh, $fw: normal) {
  font-size: $fs + px;
  line-height: calc($lh/$fs);
  font-weight: $fw;
}

@mixin flex(
  $justify-content,
  $align-items,
  $flex-direction: row,
  $flex-wrap:nowrap
) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}


// media

@mixin tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
