:root {
  // layout
  --primary-color: #ff9c7d;
  --secondary-color: #fff8e4;
  --footer-bg-color: #EEEEEE;

  // buttons
  --primary-btn-color: #FF6336;
  --primary-btn-outline-color: #fff;
  --primary-btn-color-white: #fff;
  --primary-btn-outline-stroke: 1px solid rgba(0, 0, 0, 0.5);
  --primary-burger-btn-color: #000;
  --primary-text-btn-color: #000;
  --primary-btn-color-black: #000;
  --primary-icon-arrow-color: #686868;

  // text
  --header-link-color: #000;
  --primary-text-color: #000;
  --primary-heading-color: #000;
  --primary-paragraph-link: #000;
  --hover-text-color: #FF6336;

}
