:root {
  // layout
  --primary-color: #ff9c7d;
  --secondary-color: #fff8e4;

  // buttons
  --primary-btn-color: #ff6336;
  --primary-btn-outline-color: #fff;
  --primary-btn-color-white: #fff;
  --primary-btn-outline-stroke: 1px solid rgba(0, 0, 0, 0.5);
  --primary-burger-btn-color: #000;

  // text
  --header-link-color: #000;
  --primary-text-color: #000;
  --primary-h1-color: #000;
}
