:root {
  // layout
  --primary-color: #ff9c7d;
  --secondary-color: #fff8e4;

  // buttons
  --primary-btn-color: #ff6336;
  --primary-btn-color-white: #fff;
  --outline-btn-border: 1px solid #000;

  // text
  --header-link: #000;
  --primary-text-color: #000;
}
